<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="loan department">
  <test thread-count="5" name="personal loan">
    <classes>
      <class name="test.day1">
      <methods>
      <include name="demo"/>
      </methods>
      </class>
       
       <class name="test.day4"/>
       <class name="test.day2"/>
    </classes>
    
  </test> <!-- Test -->
  
  <test name="car loan/">
  
    <classes>
    <class name="test.day3">
     <methods>
     <!--  <exclude name="mobileLoginCarLoan"/> -->
      <exclude name="mobile.*"/>
    </methods>
    </class>
    </classes>
  </test>
  
</suite> <!-- Suite -->
